<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iksde</title>
</head>
<body>
    <h3 style="color: red">
        Ciach nowy layout
    </h3>
    <div>
        @RenderBody()
    </div>
</body>
</html>
