
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testowy</title>
</head>
<body>
    @RenderBody()
    <div> 
        <h1>To jest widok generalny, say hello!</h1>
    </div>
</body>
</html>
